*{
    margin: 0;
    padding: 0; 
}
body{
    background-color: rgba(150, 122, 70, 0.699);
    letter-spacing: 2px;
    font-weight: bold;
}
main{
    height: 100vh;
    width: 60vw;
    position: absolute;
    left: 400px;
    background-color:white;
}
main .left{
    background-color: burlywood;
    margin-left: 0;
    height: 100%;
    width: 40%;
    float: left;
}
.profile_image{
    box-shadow: 2px 7px 9px 5px solid rgb(0, 4, 255);
    margin-bottom: 10%;
    margin-left: 70%;
    width: 90%;   
}
.profile_image img{
    width: 40%;
    border: 10px solid rgb(15, 15, 92);
}
.big{
    position: relative;
}
.big .entete{
  background-color: gray;
  padding: 10px;
  padding-left: 25px;
  margin-right: -20px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 10px 10px;
    overflow: hidden;
}
li{
    float: left;
    padding-left: 50px;
}
li a{
    display: block;
    text-align: center;    
}
.entete::after{
    content: '';
    position: absolute;
    width: 13px;
    height: 21px;
    background-color: gray;
    left: 461px;
    top: 30px;
    transform: rotate(deg);
    z-index: 1;
}

.back{
    padding: 5px;
}
.spend_container{
    width: 90%;
    background-color: rgb(15, 15, 92);
    margin: 0px 10px;
}
.spend{
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: right;
}
.html{
    width: 80%;
    background-color: white;
}
.css{
    width: 70%;
    background-color: white;
}
.js{
    width: 60%;
    background-color: white;
}
.php{
    width: 50%;
    background-color: white;
}
.flutter{
    width: 70%;
    background-color: white;
}
.git{
    width: 60%;
    background-color: white;
}
.web{
    width: 60%;
    background-color: white;
}
main .right{
    width: 60%;
    height: 100%;
    float: left;   
}
.right .basname{
    margin-top: 10%;
    margin-left: 10%;
}
.basname h2{
    text-decoration: overline;
    margin-left: 6%;
}
.bach{
    margin-top: 6%;
    margin-left: 15%;
}
.bach p{
  letter-spacing: 2px;
  font-family:Arial, Helvetica, sans-serif;
}
.bach .sub-bash{
    margin-top: 3%;
}
.bach .sub-bash h4{
    margin-top: 2%;
}
.bach .sub-bach h4{
    margin-top: 2%;
}
